#ep-cal {
	border: solid #ddd 1px;
}

#ep-cal tr {
	border: solid #ddd 1px;
}

.ep-event-cal {
}

.ep-cal-cell {
	border: solid #fff 1px;
	height: 70px;
	width: 70px;
}

.ep-cal-day-0, .ep-cal-day-6 {
	color: #3d120b;
}

.ep-event-title {
	border: solid 1px #ddd;
	padding: 1px;
	color: #111 !important;
	text-decoration: none;
	display: block;
	width: 80px;
	overflow: hidden;
}

.ep-event-title:hover {
	color: #fff;
	background-color: #eee;
}
