.ep-registrant {
	border: solid #ddd 1px;
	height: 75px;
	width: 270px;
	padding: 10px;
	margin: 10px;
}

.ep-registrant .avatar {
	background-color: #fff;
	border: solid #aaa 2px;
	margin: 2px;
	padding: 3px;
	float: left;
}

.ep-registrant-data {
	float: left;
	padding: 5px;
}

.ep-registration-open {
	padding-bottom: 10px;
}

.ep-reg-status {
	font-size: 1em;
	color: #222;
}

.ep-reg_pending {
	background-color: #fffcb6;
}

.ep-regform-label {
	color: #444;
	text-align: right;
	display: block;
	cursor: pointer;
	float: left;
	margin-right: 30px;
}

.ep-regform-description {
	color: #444;
	font-size: .9em;
	margin-left: 150px;
}

/* Event metadata */
.ep-event-details {
	color: #555;
	background-color: #eee;
	border: solid #ddd 1px;
	padding: .5em;
}

.ep-event-detail {
	color: #222;
	font-weight: bold;
}

.ep-map-container {
	margin-bottom: 1.5em;
}
