.ep-clear {
	clear: both;
	heigth: 1px;
	width: 100%;
}

/* One metabox to rule them all */
#ep-metabox-container {
	width: 100%;
}
	#ep-metabox-container td {
		padding: 10px;
	}
	#ep-metabox-container label {
		color: #666;
		display: block;
		margin-top: 5px;
		margin-bottom: 2px;
	}
	#ep-metabox-container label.checkbox {
		display: inline;
	}
	#ep-metabox-container input {
		width: 100%;
	}

#normal-sortables .postbox {
	width: 95%;
}

/* Custom Registration form */
.ep-reg-row {
	background-color: #f6f6f6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: solid 1px #eee;
	border-right: solid 1px #eee;
	margin: 1%;
	padding: 2%;
	width: 97%;
}
	.ep-reg-row td {
		padding: 0 5px;
	}
	.ep-reg-row label {
		color: #111;
		text-shadow: #fff 0 2px 0;
		font-size: 11px;
		font-weight: bold;
		padding: 3px;
		margin: 0;
		width: 120px;
		display: inline-block;
	}
	.ep-reg-row textarea {
		width: 100%;
	}
	.ep-reg-delete {
		background-image: url( '../images/delete.png' );
		background-repeat: no-repeat;
		background-position: center left;
		font-size: 11px;
		line-height: 20px;
		margin-top: 5px;
		padding-left: 20px;
		height: 20px;
		display: block;
		float: right;
	}

.ep-bulkreg-div {
	margin-bottom: 10px;
}
	.ep-bulkreg-div * {
		margin-left: 5px;
		margin-right: 5px;
	}

	#ep-registration-box thead tr {
		-moz-border-radius: 5px;
		background-color: #fff9db;
		border-bottom: solid 1px #ffe8c4;
		border-right: solid 1px #ffe8c4;
	}

	#ep-registration-box tbody tr {
		-moz-border-radius: 5px;
		background-color: #fefefe;
		border-bottom: solid 1px #eee;
		border-right: solid 1px #eee;
		text-align: center;
	}

#ep-schedule-mag {
	width: 30px;
}

#ep-schedule-end {
	width: 70%;
}

/* css for timepicker */
#ui-timepicker-div dl{ text-align: left; }
#ui-timepicker-div dl dt{ height: 25px; }
#ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
